.registry-info {
  .registry-info-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;

    p,
    strong {
      display: flex;
      margin-block: 0px;
      max-width: fit-content;
    }
  }
}
