@use "color";
@use "font";

h1 {
  font-family: font.$f-mr-eaves;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  margin-block: 1.5rem;
}

h2 {
  font-family: font.$f-mr-eaves;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-block: 1.25rem;
}

h3 {
  font-family: font.$f-mr-eaves;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin-block: 1rem;
}

h4 {
  font-family: font.$f-mr-eaves;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-block: 1rem;
}

p,
li,
strong,
td {
  font-family: font.$f-open-sans;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0125rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

strong {
  font-weight: 700;
}

pre {
  font-family: monospace;
  font-size: 1rem;
  background: color.$light-grey;
  padding: 1rem;
  width: fit-content;
}

a {
  text-decoration: none;
  color: color.$mteal;

  &:hover {
    text-decoration: underline;
  }

  // Target blank icon
  &[target="_blank"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }
}
