
// Color variables

$mteal      : #008080;
$mgreen     : #386300;
$mred       : #A13034;
$mblack     : #1A1523;
$mblue      : #314C58;

// Variants
$teal-accent    : #00FFFF;


// Backgrounds
$light-grey     : #F2F2F2;
$white          : #FFF;