// Color variables

$mteal: #008080;
$mgreen: #386300;
$mred: #a13034;
$mblack: #1a1523;
$mblue: #314c58;

// Variants
$teal-accent: #00ffff;

// Backgrounds
$dark-grey: #d5d5d5;
$light-grey: #f2f2f2;
$white: #fff;
$transparent-white: rgba(255, 255, 255, 0.9);
