@use "color";

// Global Layout
$spacing: 1rem;
$spacing-xl: 3rem;

$content-breakin-width: 900px;

// Template names
// 1. header
.header {
  grid-area: header;
  // position: fixed;
  width: 100%;
  background-color: color.$white;
  border-top: 3px solid color.$teal-accent;
  z-index: 1000;

  .header-container {
    display: flex;
    height: 3em;
    width: min(90%, 1400px);
    // padding-inline: 2em;
    padding-block: $spacing;
    margin-inline: auto;

    // Logo style
    .logo-text {
      font-size: 3rem;
    }
  }
}

// 2. navigation
.main-nav {
  grid-area: nav;
  padding-inline: $spacing;
  margin-block-start: $spacing-xl;
}

// 3. main content
.content {
  grid-area: content;
  padding-inline: $spacing;
}

// 4. footer
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  padding-inline: $spacing;
  padding-block-start: $spacing-xl;
  background-color: color.$light-grey;

  div {
    margin-block: 1rem;
  }

  p,
  li {
    font-size: 0.85rem;
    margin-block: 0.25rem;

    strong {
      font-weight: 700;
    }
  }
}

.site-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";

  margin: 0;
  font-size: 1.125rem;
  min-height: 100vh;
}

// Media queries
@media (min-width: 600px) {
  .site-wrapper {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "header header"
      "nav content"
      "footer footer";
    width: min(100%, 1200px);
    margin: auto;
  }

  .footer {
    
    margin-block-start: $spacing-xl;
    
    .footer-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
