@use "color";

// Global Layout

// Template names
// 1. header
.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  background-color: color.$white;
  border-top: 3px solid color.$teal-accent;
  z-index: 1000;

  .header-container {
    display: flex;
    height: 3em;
    width: min(90%, 1400px);
    padding-inline: 2em;
    padding-block: 1em;
    margin-inline: auto;

    // Logo style
    .logo-text {
      font-size: 3rem;
    }
  }
}

// 2. navigation
.main-nav {
  grid-area: nav;
}

// 3. main content
.content {
  grid-area: content;
}

// 4. footer
.footer {
  grid-area: footer;
}

.site-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";

  margin: 0;
  font-size: 1.125rem;
  min-height: 100vh;
}

// Content
// .site-content {
//   display: flex;
//   align-items: start;
//   padding-inline: 2em;
//   padding-block: 1em;
//   width: min(90%, 1400px);
//   margin-inline: auto;
// }

// .side-nav {
//   width: max(200px, 25%);
//   position: sticky;
//   top: 6em;
//   padding-top: 3rem;

//   .nav-container {
//     display: flex;
//     flex-direction: column;
//   }
//   .nav-menu {
//   }
// }

// Main Content
.content {
  padding-top: 7rem;
  width: max(1200px, 85%);
}

// Footer
// page table of contents
.toc {
  width: min(25%, 18rem);
  position: sticky;
  margin-left: auto;

  .content-list {
    display: grid;
  }
}

// Footer
footer {
  margin-top: auto;
  background-color: #304c58;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: min(90%, 1400px);
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: auto;

  .footer-info {
    display: flex;

    div {
      width: 50%;
    }
  }

  a {
    color: color.$teal-accent;
  }

  p {
    font-size: 0.85rem;
    margin-block: 0.25rem;
    color: color.$white;

    strong {
      font-weight: 700;
    }
  }
}
